<header class="header">
    <div class="header-top">
        <div class="container">
            <div class="header-content">
                <nav class="header-nav">
                    <ul>
                        <li>
                            <a href="#">О магазине</a>
                        </li>
                        <li>
                            <a href="#">Доставка и оплата</a>
                        </li>
                        <li>
                            <a href="#">Контакты</a>
                        </li>
                    </ul>
                </nav>
                <nav class="header-nav header-nav-right">
                    <ul>
                        <li>
                            <a href="#">Русский язык</a>
                        </li>
                        <li>
                            <a href="#">Войти</a>
                        </li>
                        <li>
                            <a href="#">Зарегистрироваться</a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
    <div class="header-main">
        <div class="container">
            <div class="header-content">
                <div class="header-burger">
                    <a href="#" class="menu-btn">
                        <span></span>
                    </a>
                </div>
                <div class="header-logo">
                    <a href="/">
                        <div class="header-logo-container">
                            <div class="header-logo-container-icon">
                                <img src="/svg/strawberry.svg">
                            </div>
                            <div class="header-logo-container-name">
                                <img src="/svg/lureshop.svg">
                            </div>
                        </div>
                    </a>
                </div>
                <div class="header-catalog">
                    <a href="/">
                        <div class="header-catalog-container">
                            <div class="header-catalog-container-text">
                                Каталог товаров
                            </div>
                            <div class="header-catalog-container-burger">
                                <span class="catalog-burger">
                                    <span></span>
                                </span>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</header>