.catalog-container {
  display: flex;
}
.list {
  flex-grow: 1;
  min-width: 0;
  &-caption-container {
    display: flex;
    align-items: center;
    height: 44px;
    margin-bottom: 15px;
    &-text {
      flex: 1;
      min-width: 0;
      h1 {
        font-size: 22px;
        line-height: 28px;
        color: #202020;
        margin: 0;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }
    }
    &-sort {
      margin-top: 6px;
      ul {
        margin: 0;
        padding: 0;
        list-style: none;
        display: inline-flex;
        justify-content: space-between;
        width: 420px;
        li {
          &:first-child {
            color: #525252;
          }
          a {
            display: inline-block;
            color: #939393;
            line-height: 18px;
            font-weight: 500;
            text-decoration: none;
            padding-bottom: 2px;
            border-bottom: 2px solid transparent;
            &:hover, &.active {
              color: #7359BE;
              font-weight: bold;
              border-bottom: 2px solid #7359BE;
            }
          }
        }
      }
    }
  }
  &-products-container {
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    margin-top: -0.8%;
    & > div {
      width: 32.2%;
      margin: 0.8%;
      &:nth-of-type(3n) {
        margin-right: 0;
      }
      &:nth-of-type(3n+1) {
        margin-left: 0;
      }
    }
  }
  .show-more-container {
    margin-top: 0.8%;
    a.show-more {
      display: inline-block;
      width: 100%;
      line-height: 21px;
      text-align: center;
      border: 1.5px solid #7359BE;
      color: #7359BE;
      text-decoration: none;
      font-weight: bold;
      padding: 12px 0;
      &.show-more-hidden {
        display: none;
      }
    }
  }
}