/* Light Way Admin Bootstrap Theme by PrepBootstrap - http://www.prepbootstrap.com */
body {
  margin-top: 70px;
}
#wrapper {
  padding-left: 0;
}
#page-wrapper {
  width: 100%;
  padding: 5px 15px;
}

.sui-cell {
    font-family: 'Trebuchet MS';
}

.thead-light tr th {
    background-color: #f1f4f7;
}

.bg-auth {
    background-color: #a0b4c9;
}

.db-hacked {
    background-color: #d55145;
}

.bg-auth-panel {
    background-color: #eceef1;
    padding: 0px 15px;
}

.text-white {
    color: #ffffff;
}

.places-errors, .places-success, .ajax-loader {
    display: none;
}

.places-errors .alert, .places-success .alert {
    margin-bottom: 0;
}

.places-errors-visible, .places-success-visible {
    display: block;
    margin-top: 20px;
}

.ajax-loader-visible {
    display: inline-block;
    margin-left: 20px;
}

.places-results li {
    padding: 5px 5px;
    cursor: pointer !important;
}

.places-results li:hover {
    background-color: #f5f5f5;
    color: #a94442;
    font-weight: bold;
}

.pagination {
    margin-top: 0;
}

.float-right {
    float: right;
}

.breadcrumb {
    margin-bottom: 0;
}

.errors-list {
    list-style: none;
    padding: 0;
}

.img-container,
.img-preview {
    background-color: #f7f7f7;
    text-align: center;
    width: 100%;
}

.img-container {
    margin-bottom: 1rem;
    max-height: 497px;
    min-height: 200px;
}

@media (min-width: 768px) {
    .img-container {
        min-height: 497px;
    }
}

.img-container > img {
    max-width: 100%;
}

.docs-preview {
    margin-right: -1rem;
}

.img-preview {
    float: left;
    margin-bottom: 0.5rem;
    margin-right: 0.5rem;
    overflow: hidden;
}

.img-preview > img {
    max-width: 100%;
}

.preview-lg {
    height: 20rem;
    width: 22rem;
}

.preview-md {
    height: 4.5rem;
    width: 8rem;
}

.preview-sm {
    height: 2.25rem;
    width: 4rem;
}

.preview-xs {
    height: 1.125rem;
    margin-right: 0;
    width: 2rem;
}

.cropper-box, .cropper-input {
    display: none;
}

.uploaded-seller-logo {
    margin-bottom: 30px;
}

.hidden-uploaded {
    display: none;
}

.product-image {
    float: left;
    margin: 0 20px 25px 0;
}

.product-img {
    float: left;
    border: 1px solid #e6e6e6;
    margin-bottom: 5px;
}

.product-buttons {

}

.product-buttons button {

}

.product-color-black {
    background-color: #000000;
    color: #303030;
}

.product-color-white {
    background-color: #FFFFFF;
    color: #333333;
}

.product-color-red {
    background-color: #FF0000;
    color: #FFFFFF;
}

.product-color-blue {
    background-color: #0000FF;
    color: #FFFFFF;
}

.product-color-beige {
    background-color: #F5F5DC;
    color: #333333;
}

.product-color-deep-sky-blue {
    background-color: #00BFFF;
    color: #333333;
}

.product-color-pink {
    background-color: #FC0FC0;
    color: #FFFFFF;
}

.product-color-yellow {
    background-color: #FFFF00;
    color: #333333;
}

.product-color-brown {
    background-color: #964B00;
    color: #FFFFFF;
}

.product-color-gray {
    background-color: #808080;
    color: #FFFFFF;
}

.product-color-gold {
    background-color: #FFD700;
    color: #333333;
}

.product-color-green {
    background-color: #00FF00;
    color: #333333;
}

.product-color-camouflage-green {
    background-color: #78866B;
    color: #FFFFFF;
}

.product-color-lilac {
    background-color: #C8A2C8;
    color: #FFFFFF;
}

.product-color-lime {
    background-color: #CCFF00;
    color: #333333;
}

.product-color-purple{
    background-color: #800080;
    color: #FFFFFF;
}

/* Nav Messages */
.messages-dropdown .dropdown-menu .message-preview .avatar,
.messages-dropdown .dropdown-menu .message-preview .name,
.messages-dropdown .dropdown-menu .message-preview .message,
.messages-dropdown .dropdown-menu .message-preview .time {
  display: block;
}
.messages-dropdown .dropdown-menu .message-preview .avatar {
  float: left;
  margin-right: 15px;
}
.messages-dropdown .dropdown-menu .message-preview .name {
  font-weight: bold;
}
.messages-dropdown .dropdown-menu .message-preview .message {
  font-size: 12px;
}
.messages-dropdown .dropdown-menu .message-preview .time {
  font-size: 12px;
}

body {
  font-family: 'Trebuchet MS';
  font-size: 14px;
  line-height: 1.42857143;
  color: #333;
  background-color: #fff;
}
.nav-tabs > li.active > a,
.nav-tabs > li.active > a:hover,
.nav-tabs > li.active > a:focus {
  color: #428bca;
  cursor: default;
  background-color: #fff;
  border: 1px solid #ddd;
  border-bottom-color: transparent;
}
.navbar-inverse {
  background-color: #e7e7e7;
  border-color: #e7e7e7;
}
.navbar-inverse .navbar-nav > .active > a,
.navbar-inverse .navbar-nav > .active > a:hover,
.navbar-inverse .navbar-nav > .active > a:focus {
  color: #fff;
  background-color: #428bca;
}
.navbar-inverse .navbar-nav > .open > a,
.navbar-inverse .navbar-nav > .open > a:hover,
.navbar-inverse .navbar-nav > .open > a:focus {
  color: #fff;
  background-color: #428bca;
}
@media (max-width: 767px) {
  .navbar-inverse .navbar-nav .open .dropdown-menu > .dropdown-header {
    border-color: #DFF0D9;
  }
  .navbar-inverse .navbar-nav .open .dropdown-menu .divider {
    background-color: #428bca;
  }
  .navbar-inverse .navbar-nav .open .dropdown-menu > li > a {
    color: #999;
  }
  .navbar-inverse .navbar-nav .open .dropdown-menu > li > a:hover,
  .navbar-inverse .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #fff;
    background-color: transparent;
  }
  .navbar-inverse .navbar-nav .open .dropdown-menu > .active > a,
  .navbar-inverse .navbar-nav .open .dropdown-menu > .active > a:hover,
  .navbar-inverse .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #fff;
    background-color: #428bca;
  }
  .navbar-inverse .navbar-nav .open .dropdown-menu > .disabled > a,
  .navbar-inverse .navbar-nav .open .dropdown-menu > .disabled > a:hover,
  .navbar-inverse .navbar-nav .open .dropdown-menu > .disabled > a:focus {
    color: #444;
    background-color: transparent;
  }
}

/* Nav Announcements */
.alerts-heading {
  font-size: 50px;
  margin: 0;
}
.alerts-text {
  margin: 0;
}

/* Table Headers */
table.tablesorter thead {
  cursor: pointer;
}

table.tablesorter thead tr th:hover {
  background-color: #f5f5f5;
}

/* Edit Below to Customize Widths > 768px */
@media (min-width:768px) {
  /* Wrappers */
  #wrapper {
	padding-left: 225px;
  }
  #page-wrapper {
	padding: 15px 25px;
  }

  /* Side Nav */
  .side-nav {
	margin-left: -225px;
	left: 225px;
	width: 225px;
	position: fixed;
	top: 50px;
	height: 100%;
	border-radius: 0;
	border: none;
	background-color: #F3F3F3;
	overflow-y: auto;
  }

  /*menu overrides*/
  .side-nav>li.dropdown>ul.dropdown-menu {
	position: relative;
	min-width: 225px;
	margin: 0;
	padding: 0;
	border: none;
	border-radius: 0;
	background-color: transparent;
	box-shadow: none;
	-webkit-box-shadow: none;
  }
  .side-nav>li.dropdown>ul.dropdown-menu>li>a {
	color: #999999;
	padding: 15px 15px 15px 25px;
  }
  .side-nav>li.dropdown>ul.dropdown-menu>li>a:hover,
  .side-nav>li.dropdown>ul.dropdown-menu>li>a.active,
  .side-nav>li.dropdown>ul.dropdown-menu>li>a:focus {
	color: #fff;
	background-color: #428bca;
  }
  .side-nav>li>a {
	width: 225px;
  }

  .navbar-inverse .navbar-nav>li>a:hover,
  .navbar-inverse .navbar-nav>li>a:focus {
	background-color: #428bca;
  }

  /* Nav Messages */
  .messages-dropdown .dropdown-menu {
	min-width: 300px;
  }
  .messages-dropdown .dropdown-menu li a {
	white-space: normal;
  }
  .navbar-collapse {
    padding-left: 15px !important;
    padding-right: 15px !important;
  }
}
