<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>

    <link rel="stylesheet" type="text/css" href="/stylesheets/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="/stylesheets/font-awesome.min.css" />
    <link rel="stylesheet" type="text/css" href="/stylesheets/local.css" />
</head>
<body class="db-hacked">
<div id="page-wrapper">
    <div class="row">
        <div class="col-lg-2"></div>
        <div class="col-lg-8">
            <div class="row">
                <p>
                    <img src="/images/hacked.png" alt="Your account has been hacked" border="0">
                </p>
            </div>
            <div class="row">
                <h1 class="text-white">Your account has been hacked!</h1>
            </div>
            <div class="row">
                <br><br>
                <p class="lead text-white">
                    If the settings on your software that you are using to view this website (your browser) are
                    adjusted to accept cookies we take this, and your continued use of our website, to mean that you
                    are fine with this. Should you wish to remove or not use cookies from our site you can learn how
                    to do this below, however doing so will likely mean that our site will not work as you would expect.
                </p>
                <p class="lead text-white">An you E-mail has been sent to your email with instructions for the restoration of your account.</p>
            </div>
            <div class="row">
                <br>
                <button type="button" class="btn btn-default">Recover My Account</button>
            </div>
        </div>
        <div class="col-lg-2"></div>
    </div>
</div>
</body>
</html>