@font-face {
  font-family: 'Google Sans';
  src: local('Google Sans'), local('GoogleSans'), url($path-to-fonts + 'GoogleSans-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Google Sans';
  src: local('Google Sans Medium'), local('GoogleSans-Medium'), url($path-to-fonts + 'GoogleSans-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Google Sans';
  src: local('Google Sans Bold'), local('GoogleSans-Bold'), url($path-to-fonts + 'GoogleSans-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}