// Colors
$white: #ffffff;
$black: #000000;

$mine-shaft: #313131;

// Sizes
$base-font-size: 14px;
$content-size: 1110px;

// Fonts
$main-font: 'Open Sans',Arial,sans-serif;

// Path
$path-to-fonts: '../fonts/';