@import 'normalize';
@import 'variables';
@import 'fonts';

html {
  font-size: $base-font-size;
  height: 100%;
}

body {
  font-family: $main-font;
  height: 100%;
  background: #FFFFFF;
}

*, *:before, *:after {
  box-sizing: border-box;
}

.wrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.content {
  flex: 1 0 auto;
}

.container {
  margin: 0 auto;
  max-width: $content-size;
  width: 100%;
}

.overlay {
  height: 100%;
  background-color: rgba(0, 0, 0, 0.58);
  filter: blur(5px);
}

section.page {
  background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAAVCAMAAACwjHQ2AAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAABJQTFRF/////v7+/Pz8+vr6+/v7/f39KExYJgAAABpJREFUeNpiYGZgZmBhYAJDVgZGKMQCAAIMAANlABq6pr7+AAAAAElFTkSuQmCC") top left repeat-x;
}

@import "modules/header";
@import "modules/breadcrumb";
@import "modules/cell";
@import "modules/filter";
@import "pages/catalog";
@import "pages/product";