/* ==========================================================================
   Normalize.scss settings
   ========================================================================== */
/**
 * Includes legacy browser support IE6/7
 *
 * Set to false if you want to drop support for IE6 and IE7
 */
/* Base
   ========================================================================== */
/**
 * 1. Set default font family to sans-serif.
 * 2. Prevent iOS and IE text size adjust after device orientation change,
 *    without disabling user zoom.
 * 3. Corrects text resizing oddly in IE 6/7 when body `font-size` is set using
 *  `em` units.
 */
html {
  font-family: sans-serif;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */ }

/**
 * Remove default margin.
 */
body {
  margin: 0; }

/* HTML5 display definitions
   ========================================================================== */
/**
 * Correct `block` display not defined for any HTML5 element in IE 8/9.
 * Correct `block` display not defined for `details` or `summary` in IE 10/11
 * and Firefox.
 * Correct `block` display not defined for `main` in IE 11.
 */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block; }

/**
 * 1. Correct `inline-block` display not defined in IE 6/7/8/9 and Firefox 3.
 * 2. Normalize vertical alignment of `progress` in Chrome, Firefox, and Opera.
 */
audio,
canvas,
progress,
video {
  display: inline-block;
  /* 1 */
  vertical-align: baseline;
  /* 2 */ }

/**
 * Prevents modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */
audio:not([controls]) {
  display: none;
  height: 0; }

/**
 * Address `[hidden]` styling not present in IE 8/9/10.
 * Hide the `template` element in IE 8/9/10/11, Safari, and Firefox < 22.
 */
[hidden],
template {
  display: none; }

/* Links
   ========================================================================== */
/**
 * Remove the gray background color from active links in IE 10.
 */
a {
  background-color: transparent; }

/**
 * Improve readability of focused elements when they are also in an
 * active/hover state.
 */
a:active, a:hover {
  outline: 0; }

/* Text-level semantics
   ========================================================================== */
/**
 * Address styling not present in IE 8/9/10/11, Safari, and Chrome.
 */
abbr[title] {
  border-bottom: 1px dotted; }

/**
 * Address style set to `bolder` in Firefox 4+, Safari, and Chrome.
 */
b,
strong {
  font-weight: bold; }

/**
 * Address styling not present in Safari and Chrome.
 */
dfn {
  font-style: italic; }

/**
 * Address variable `h1` font-size and margin within `section` and `article`
 * contexts in Firefox 4+, Safari, and Chrome.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0; }

/**
 * Addresses styling not present in IE 8/9.
 */
mark {
  background: #ff0;
  color: #000; }

/**
 * Address inconsistent and variable font size in all browsers.
 */
small {
  font-size: 80%; }

/**
 * Prevent `sub` and `sup` affecting `line-height` in all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

/* Embedded content
   ========================================================================== */
/**
 * 1. Remove border when inside `a` element in IE 8/9/10.
 * 2. Improves image quality when scaled in IE 7.
 */
img {
  border: 0; }

/**
 * Correct overflow not hidden in IE 9/10/11.
 */
svg:not(:root) {
  overflow: hidden; }

/* Grouping content
   ========================================================================== */
/**
 * Address margin not present in IE 8/9 and Safari.
 */
figure {
  margin: 1em 40px; }

/**
 * Address differences between Firefox and other browsers.
 */
hr {
  box-sizing: content-box;
  height: 0; }

/**
 * Contain overflow in all browsers.
 */
pre {
  overflow: auto; }

/**
 * Address odd `em`-unit font size rendering in all browsers.
 * Correct font family set oddly in IE 6, Safari 4/5, and Chrome.
 */
code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em; }

/* Forms
   ========================================================================== */
/**
 * Known limitation: by default, Chrome and Safari on OS X allow very limited
 * styling of `select`, unless a `border` property is set.
 */
/**
 * 1. Correct color not being inherited.
 *  Known issue: affects color of disabled elements.
 * 2. Correct font properties not being inherited.
 * 3. Address margins set differently in Firefox 4+, Safari, and Chrome.
 * 4. Improves appearance and consistency in all browsers.
 */
button,
input,
optgroup,
select,
textarea {
  color: inherit;
  /* 1 */
  font: inherit;
  /* 2 */
  margin: 0;
  /* 3 */ }

/**
 * Address `overflow` set to `hidden` in IE 8/9/10/11.
 */
button {
  overflow: visible; }

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Firefox, IE 8/9/10/11, and Opera.
 * Correct `select` style inheritance in Firefox.
 */
button,
select {
  text-transform: none; }

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *  and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *  `input` and others.
 * 4. Removes inner spacing in IE 7 without affecting normal text inputs.
 *  Known issue: inner spacing remains in IE 6.
 */
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */ }

/**
 * Re-set default cursor for disabled elements.
 */
button[disabled],
html input[disabled] {
  cursor: default; }

/**
 * Remove inner padding and border in Firefox 4+.
 */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0; }

/**
 * Address Firefox 4+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */
input {
  line-height: normal; }

/**
 * 1. Address box sizing set to `content-box` in IE 8/9/10.
 * 2. Remove excess padding in IE 8/9/10.
 *  Known issue: excess padding remains in IE 6.
 */
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * Fix the cursor style for Chrome's increment/decrement buttons. For certain
 * `font-size` values of the `input`, it causes the cursor style of the
 * decrement button to change from `default` to `text`.
 */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto; }

/**
 * 1. Address `appearance` set to `searchfield` in Safari and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari and Chrome.
 */
input[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  box-sizing: content-box;
  /* 2 */ }

/**
 * Remove inner padding and search cancel button in Safari and Chrome on OS X.
 * Safari (but not Chrome) clips the cancel button when the search input has
 * padding (and `textfield` appearance).
 */
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

/**
 * Define consistent border, margin, and padding.
 */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

/**
 * 1. Correct `color` not being inherited in IE 8/9/10/11.
 * 2. Remove padding so people aren't caught out if they zero out fieldsets.
 * 3. Corrects text not wrapping in Firefox 3.
 * 4. Corrects alignment displayed oddly in IE 6/7.
 */
legend {
  border: 0;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * Remove default vertical scrollbar in IE 8/9/10/11.
 */
textarea {
  overflow: auto; }

/**
 * Don't inherit the `font-weight` (applied by a rule above).
 * NOTE: the default cannot safely be changed in Chrome and Safari on OS X.
 */
optgroup {
  font-weight: bold; }

/* Tables
   ========================================================================== */
/**
 * Remove most spacing between table cells.
 */
table {
  border-collapse: collapse;
  border-spacing: 0; }

td,
th {
  padding: 0; }

@font-face {
  font-family: 'Google Sans';
  src: local("Google Sans"), local("GoogleSans"), url("../fonts/GoogleSans-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal; }

@font-face {
  font-family: 'Google Sans';
  src: local("Google Sans Medium"), local("GoogleSans-Medium"), url("../fonts/GoogleSans-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal; }

@font-face {
  font-family: 'Google Sans';
  src: local("Google Sans Bold"), local("GoogleSans-Bold"), url("../fonts/GoogleSans-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal; }

html {
  font-size: 14px;
  height: 100%; }

body {
  font-family: "Google Sans", Arial, sans-serif;
  height: 100%;
  background: #fafafa; }

*, *:before, *:after {
  box-sizing: border-box; }

.wrapper {
  display: flex;
  flex-direction: column;
  height: 100%; }

.content {
  flex: 1 0 auto; }

.container {
  margin: 0 auto;
  max-width: 1110px;
  width: 100%; }

.overlay {
  height: 100%;
  background: rgba(50, 50, 50, 0.58);
  filter: blur(5px); }

.header {
  z-index: 10; }
  .header-top {
    background-color: #313131;
    padding: 9px 0; }
  .header-main {
    background-color: #ffffff;
    padding: 20px 0 19px; }
  .header-content {
    align-items: center;
    display: flex; }
  .header-nav-right {
    margin-left: auto; }
  .header-nav ul {
    align-items: center;
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0; }
    .header-nav ul li {
      margin-right: 56px; }
      .header-nav ul li:last-child {
        margin-right: 0; }
      .header-nav ul li a {
        line-height: 18px;
        color: #ffffff;
        text-decoration: none;
        font-weight: 500; }
  .header-burger {
    display: none; }
    .header-burger .menu-btn {
      display: block;
      width: 50px;
      height: 50px;
      background-color: #fff;
      border-radius: 50%;
      position: relative; }
    .header-burger .menu-btn span,
    .header-burger .menu-btn span::before,
    .header-burger .menu-btn span::after {
      position: absolute;
      top: 50%;
      margin-top: -1px;
      left: 50%;
      margin-left: -10px;
      width: 20px;
      height: 2px;
      background-color: #222; }
    .header-burger .menu-btn span::before,
    .header-burger .menu-btn span::after {
      content: '';
      display: block;
      transition: 0.2s; }
    .header-burger .menu-btn span::before {
      transform: translateY(-5px); }
    .header-burger .menu-btn span::after {
      transform: translateY(5px); }
  .header-logo {
    margin-right: 68px; }
    .header-logo-container {
      align-items: center;
      justify-content: center;
      display: flex; }
      .header-logo-container-icon {
        margin: 0 3px 0 -5px; }
        .header-logo-container-icon > img {
          height: 38px; }
      .header-logo-container-name > img {
        height: 20.6px; }
  .header-catalog {
    height: 44px;
    background: linear-gradient(0deg, #7359BE, #7359BE), #2D9CDB;
    border-radius: 1px;
    width: 195px;
    margin-right: 17px; }
    .header-catalog a {
      text-decoration: none; }
    .header-catalog-container {
      align-items: center;
      display: flex;
      height: 100%; }
      .header-catalog-container-text {
        color: #ffffff;
        font-weight: 500;
        padding-left: 13px;
        flex-grow: 1; }
      .header-catalog-container-burger {
        padding-right: 13px; }
        .header-catalog-container-burger .catalog-burger {
          display: block;
          width: 16px;
          height: 11px;
          position: relative; }
        .header-catalog-container-burger .catalog-burger span,
        .header-catalog-container-burger .catalog-burger span::before,
        .header-catalog-container-burger .catalog-burger span::after {
          position: absolute;
          top: 50%;
          margin-top: -1px;
          left: 50%;
          margin-left: -8px;
          width: 16px;
          height: 2px;
          background-color: #ffffff; }
        .header-catalog-container-burger .catalog-burger span::before,
        .header-catalog-container-burger .catalog-burger span::after {
          content: '';
          display: block;
          transition: 0.2s; }
        .header-catalog-container-burger .catalog-burger span::before {
          transform: translateY(-4px); }
        .header-catalog-container-burger .catalog-burger span::after {
          transform: translateY(4px); }
  .header-search {
    height: 44px;
    background: #FCFCFC;
    border: 1px solid #E8E8EE;
    box-sizing: border-box;
    border-radius: 1px;
    padding: 13px 15px 13px 18px;
    flex-grow: 1; }
    .header-search-container {
      align-items: center;
      display: flex;
      height: 100%; }
      .header-search-container-field {
        flex-grow: 1; }
        .header-search-container-field input {
          width: 100%;
          font-weight: 500;
          color: #A3A3A3;
          background-color: transparent;
          border: none;
          outline: none; }
          .header-search-container-field input::-webkit-input-placeholder {
            color: #A3A3A3; }
          .header-search-container-field input::-moz-placeholder {
            color: #A3A3A3; }
          .header-search-container-field input:-ms-input-placeholder {
            color: #A3A3A3; }
          .header-search-container-field input:-moz-placeholder {
            color: #A3A3A3; }
      .header-search-container-button {
        padding-left: 13px; }
  .header-counter {
    display: block;
    position: absolute;
    height: 12px;
    border-radius: 12px;
    background-color: #7359BE;
    top: 0;
    right: -5px;
    text-align: center;
    color: #ffffff;
    font-size: 9px;
    padding: 0px 4px; }
  .header-favorite {
    margin: 0 35px 0 51px; }
    .header-favorite-container {
      align-items: center;
      display: flex;
      height: 100%; }
      .header-favorite-container-icon {
        position: relative; }
        .header-favorite-container-icon img {
          width: 23px; }
  .header-basket {
    height: 44px; }
    .header-basket a {
      text-decoration: none; }
    .header-basket-container {
      align-items: center;
      display: flex;
      height: 100%; }
      .header-basket-container-icon {
        position: relative; }
        .header-basket-container-icon img {
          width: 25px;
          fill: black; }
        .header-basket-container-icon span {
          right: -7px; }
      .header-basket-container-text {
        width: 103px;
        font-size: 12px;
        font-weight: bold;
        line-height: 15px;
        color: #313131;
        padding-left: 16px;
        margin-top: -6px; }
        .header-basket-container-text span {
          color: #7359BE; }
  .header-menu .container {
    position: relative; }
  .header-menu .container-menu {
    position: absolute; }
  .header-menu a {
    text-decoration: none; }
  .header-menu ul {
    margin: 0;
    padding: 0;
    list-style: none; }
  .header-menu .side {
    width: 266px;
    margin: 0 5px;
    position: relative; }
  .header-menu .side-hidden {
    display: none; }
  .header-menu .menu {
    padding: 15px 0 15px 17px;
    background-color: #ffffff;
    border: 1px solid #E9E9E9;
    box-sizing: border-box;
    box-shadow: 0px 0px 25px rgba(183, 183, 183, 0.25); }
  .header-menu .menu a {
    background-color: #FFFFFF;
    color: #202020;
    line-height: 18px;
    padding: 13px 0 13px 15px;
    display: block; }
    .header-menu .menu a:hover {
      background: linear-gradient(0deg, #7359BE, #7359BE), #2D9CDB;
      color: #ffffff; }
  .header-menu .menu__list > a {
    width: 100%;
    display: inline-block;
    padding-right: 25px;
    position: relative; }
    .header-menu .menu__list > a:after {
      content: '';
      display: block;
      width: 5px;
      height: 9px;
      position: absolute;
      top: 17px;
      right: 15px;
      background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAJCAYAAAALpr0TAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAGdJREFUeNpiUFBQuA/E8QxI4P////eBGEWMCYgXAvECNMVgMXTFDEBFDUD8H1kxUFHDfwigTPF+IH6P5t79QPyeBUlRPZByAOJEJEWoYiBFUGsTkBVBrU0gXhFU4X1kRUjhiCIGEGAARh5gESIuD5MAAAAASUVORK5CYII="); }
    .header-menu .menu__list > a:hover::after {
      background-position: 5px; }
  .header-menu .menu__drop {
    padding: 15px 16px 15px 11px;
    background-color: #ffffff;
    border: 1px solid #E9E9E9;
    margin-left: -1px;
    box-sizing: border-box;
    box-shadow: 0px 0px 25px rgba(183, 183, 183, 0.25);
    position: absolute;
    width: 276px;
    left: 100%;
    min-height: 100%;
    top: 0;
    display: none; }
  .header-menu .menu__list:hover .menu__drop {
    display: block; }

.breadcrumb {
  margin: 27px 0;
  padding: 0;
  list-style: none;
  line-height: 16px;
  font-weight: 500;
  display: block; }
  .breadcrumb > li + li:before {
    padding: 0 13px;
    color: #979FAD;
    content: "/\00a0"; }
  .breadcrumb li {
    display: inline-block; }
    .breadcrumb li a {
      text-decoration: none;
      color: #979FAD; }
  .breadcrumb .active {
    color: #333333; }

.filter {
  width: 267px; }
  .filter-catalog {
    height: 44px;
    background: linear-gradient(0deg, #7359BE, #7359BE), #2D9CDB;
    border-radius: 1px;
    width: 100%;
    margin-right: 17px;
    margin-bottom: 15px; }
    .filter-catalog a {
      text-decoration: none; }
    .filter-catalog-container {
      align-items: center;
      display: flex;
      height: 100%; }
      .filter-catalog-container-text {
        color: #ffffff;
        font-weight: 500;
        padding-left: 13px;
        flex-grow: 1; }
      .filter-catalog-container-burger {
        padding-right: 13px; }
        .filter-catalog-container-burger .catalog-burger {
          display: block;
          width: 16px;
          height: 11px;
          position: relative; }
        .filter-catalog-container-burger .catalog-burger span,
        .filter-catalog-container-burger .catalog-burger span::before,
        .filter-catalog-container-burger .catalog-burger span::after {
          position: absolute;
          top: 50%;
          margin-top: -1px;
          left: 50%;
          margin-left: -8px;
          width: 16px;
          height: 2px;
          background-color: #ffffff; }
        .filter-catalog-container-burger .catalog-burger span::before,
        .filter-catalog-container-burger .catalog-burger span::after {
          content: '';
          display: block;
          transition: 0.2s; }
        .filter-catalog-container-burger .catalog-burger span::before {
          transform: translateY(-4px); }
        .filter-catalog-container-burger .catalog-burger span::after {
          transform: translateY(4px); }
  .filter-blocks {
    background: #FCFCFC;
    border: 1px solid #E9E9E9; }
  .filter-block {
    padding: 17px 14px 14px 16px;
    border-bottom: 1px solid #E9E9E9; }
    .filter-block-content {
      margin-top: 15px; }
  .filter-country {
    border-bottom: none; }
  .filter-block-name {
    display: flex;
    align-items: center; }
    .filter-block-name-caption {
      color: #131313;
      line-height: 18px;
      text-transform: uppercase;
      font-weight: bold;
      flex-grow: 1; }
    .filter-block-name-icon {
      width: 10px;
      height: 18px; }
      .filter-block-name-icon span {
        display: block;
        width: 100%;
        height: 100%;
        cursor: pointer;
        position: relative; }
        .filter-block-name-icon span::after {
          content: '';
          position: absolute;
          top: 5px;
          left: 0;
          width: 0;
          height: 0;
          border-style: solid;
          border-width: 6px 3px 0 3px;
          border-color: #939393 transparent transparent transparent; }
      .filter-block-name-icon span.toggle-closed::after {
        border-width: 0 3px 6px 3px;
        border-color: transparent transparent #939393 transparent; }
  .filter .checkbox {
    position: relative;
    padding-left: 28px;
    line-height: 21px;
    color: #363636;
    position: relative;
    margin-bottom: 12px;
    cursor: pointer; }
    .filter .checkbox span {
      color: #979FAD; }
    .filter .checkbox:before {
      content: '';
      display: block;
      position: absolute;
      top: 4px;
      left: 0;
      width: 13px;
      height: 13px;
      background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABoAAAANCAMAAACAR47fAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAGBQTFRF////6urqaGhot7e3eHh4/f394eHh+Pj4dHR0hYWF09PTtLS0x8fH3Nzc0dHR6Ojo0tLSzc3N5ubmbGxsjIyMg4ODcnJyubm5h4eIbm5u5eXly8vLwsLCd3d3+fn5zMzMH6jbywAAAFJJREFUeNpiYMQJGBgZEIARhUO6FBsbLikpURlMKVY5IC0kwSSNKSUvK8jAz8nEzI4pxSXGwSPCxIzVGXwswpLiOFwowMKN0/G8rER4GScACDAAjDACZutFTpQAAAAASUVORK5CYII="); }
    .filter .checkbox.checked:before {
      background-position: 13px; }
  .filter .content-closed {
    display: none; }
