<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <title><%= title %></title>
        <!--[if IE]>
        <meta http-equiv='X-UA-Compatible', content="IE = edge" />
        <![endif]-->
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" type='text/css' href="/stylesheets/style.css">
    </head>
</html>
<body>
    <div class="wrapper">
        <%- include('../modules/header'); -%>
        <section class="page">
        </section>
    </div>
    <script src="/javascripts/main.js"></script>
</body>
</html>