<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <title><%= title %></title>
        <!--[if IE]>
        <meta http-equiv='X-UA-Compatible', content="IE = edge" />
        <![endif]-->
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" type='text/css' href="/stylesheets/style.css">
    </head>
</html>
<body>
    <div class="wrapper">
        <%- include('../modules/header'); -%>
        <section class="page">
            <div class="container">
                <ul class="breadcrumb">
                    <li><a href="/">Главная</a></li>
                    <li><a href="/">Каталог товаров</a></li>
                    <li class="active">Секс игрушки</li>
                </ul>
            </div>
            <div class="catalog">
                <div class="container">
                    <div class="filter">
                        <div class="filter-catalog">
                            <a href="javascript:;" class="catalog-open">
                                <div class="filter-catalog-container">
                                    <div class="filter-catalog-container-text">
                                        Секс игрушки
                                    </div>
                                    <div class="filter-catalog-container-burger">
                                        <span class="catalog-burger">
                                            <span></span>
                                        </span>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="filter-blocks">
                            <div class="filter-category filter-block">
                                <div class="filter-block-name">
                                    <div class="filter-block-name-caption">Категории</div>
                                    <div class="filter-block-name-icon"><span class="toggle"></span></div>
                                </div>
                                <div class="filter-block-content">
                                    <div class="checkbox">Вибраторы <span>(141)</span></div>
                                    <div class="checkbox">Фаллоимитаторы для взрослых игр <span>(56)</span></div>
                                    <div class="checkbox">Страпоны <span>(56)</span></div>
                                    <div class="checkbox">Анальные игрушки <span>(56)</span></div>
                                    <div class="checkbox">Пульсаторы <span>(56)</span></div>
                                </div>
                            </div>
                            <div class="filter-price filter-block">
                                <div class="filter-block-name">
                                    <div class="filter-block-name-caption">Цена</div>
                                    <div class="filter-block-name-icon"><span class="toggle"></span></div>
                                </div>
                                <div class="filter-block-content">

                                </div>
                            </div>
                            <div class="filter-tags filter-block">
                                <div class="filter-block-name">
                                    <div class="filter-block-name-caption">Теги</div>
                                    <div class="filter-block-name-icon"><span class="toggle"></span></div>
                                </div>
                                <div class="filter-block-content">

                                </div>
                            </div>
                            <div class="filter-brand filter-block">
                                <div class="filter-block-name">
                                    <div class="filter-block-name-caption">Бренд</div>
                                    <div class="filter-block-name-icon"><span class="toggle"></span></div>
                                </div>
                                <div class="filter-block-content">
                                    <div class="checkbox">Adrien Lastic</div>
                                    <div class="checkbox">Alive</div>
                                    <div class="checkbox">Big Teaze Toys</div>
                                    <div class="checkbox">BKK</div>
                                    <div class="checkbox">Blow Yo</div>
                                    <div class="checkbox">Big Teaze Toys</div>
                                    <div class="checkbox">BKK</div>
                                    <div class="checkbox">Blow Yo</div>
                                </div>
                            </div>
                            <div class="filter-country filter-block">
                                <div class="filter-block-name">
                                    <div class="filter-block-name-caption">Cтрана производитель</div>
                                    <div class="filter-block-name-icon"><span class="toggle"></span></div>
                                </div>
                                <div class="filter-block-content">
                                    <div class="checkbox">Европа</div>
                                    <div class="checkbox">Канада</div>
                                    <div class="checkbox">Лондон</div>
                                    <div class="checkbox">Италия</div>
                                    <div class="checkbox">Германия</div>
                                    <div class="checkbox">Франция</div>
                                    <div class="checkbox">Китай</div>
                                    <div class="checkbox">США</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
    <script src="/javascripts/main.js"></script>
    <script src="/javascripts/filter.js"></script>
</body>
</html>