<% if (flash.length && flash[0].type === 'success') { %>
    <div class="row">
        <div class="col-lg-12">
            <div class="alert alert-success">
                <%= flash[0].message %>
            </div>
        </div>
    </div>
<% } %>