<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="navbar-header">
        <a class="navbar-brand" href="/home">Admin Panel</a>
    </div>
    <div class="collapse navbar-collapse navbar-ex1-collapse">
        <ul class="nav navbar-nav side-nav">
            <li data-url="/backend/home"><a href="/home"><i class="fa fa-bullseye"></i> Dashboard</a></li>
            <li data-url="/backend/product"><a href="/backend/product"><i class="fa fa-diamond"></i> Товары</a></li>
            <li data-url="/backend/category"><a href="/backend/category"><i class="fa fa-folder-open-o"></i> Категории</a></li>
            <li data-url="/backend/country"><a href="/backend/country"><i class="fa fa-globe"></i> Страны</a></li>
            <li data-url="/backend/brand"><a href="/backend/brand"><i class="fa fa-trademark"></i> Бренды</a></li>
            <li data-url="/backend/seller"><a href="/backend/seller"><i class="fa fa-star-o"></i> Продавцы</a></li>
            <li data-url="/backend/logout"><a href="/logout"><i class="fa fa-lock"></i> Выход</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right navbar-user">
            <li>
                <a href="/backend/profile"><i class="fa fa-user"></i> <--%= user.fullName %--></a>
            </li>
        </ul>
    </div>
</nav>