<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>

    <link rel="stylesheet" type="text/css" href="/stylesheets/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="/stylesheets/font-awesome.min.css" />
    <link rel="stylesheet" type="text/css" href="/stylesheets/local.css" />
</head>
<body>
<div id="wrapper">
    <%- include('nav'); -%>
    <div id="page-wrapper">
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">Google Places</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-7">
                <input class="form-control" type="text" name="address" value="" maxlength="200" placeholder="Enter a place name">
            </div>
            <div class="col-lg-5">
                <button type="button" class="btn btn-primary">Find Places</button>
                <img src="/images/ajax-loader.gif" class="ajax-loader" alt="Ajax loader" border="0">
            </div>
        </div>
        <div class="row places-success">
            <div class="col-lg-7">
                <div class="alert alert-success">
                    <strong>Well done!</strong> You have updated the address in your profile, your new address : <span class="message"></span>
                </div>
            </div>
        </div>
        <div class="row places-errors">
            <div class="col-lg-7">
                <div class="alert alert-danger">
                    <strong>Error!</strong> <span class="message"></span>
                </div>
            </div>
        </div>
        <hr/>
        <div class="row">
            <div class="col-lg-7">
                <ul class="places-results list-unstyled"></ul>
            </div>
        </div>
    </div>
</div>
<script src="/javascripts/menu.js"></script>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script src="/javascripts/places.js"></script>
</body>
</html>