.filter {
  width: 267px;
  min-width: 267px;
  margin-right: 14px;
  &-catalog {
    height: 44px;
    background: linear-gradient(0deg, #7359BE, #7359BE), #2D9CDB;
    border-radius: 1px;
    width: 100%;
    margin-right: 17px;
    margin-bottom: 15px;
    a {
      text-decoration: none;
    }
    &-container {
      align-items: center;
      display: flex;
      height: 100%;
      &-text {
        color: $white;
        font-weight: 500;
        padding-left: 13px;
        flex-grow: 1;
      }
      &-burger {
        padding-right: 13px;
        .catalog-burger {
          display: block;
          width: 16px;
          height: 11px;
          position: relative;
        }
        .catalog-burger span,
        .catalog-burger span::before,
        .catalog-burger span::after {
          position: absolute;
          top: 50%; margin-top: -1px;
          left: 50%; margin-left: -8px;
          width: 16px;
          height: 2px;
          background-color: $white;
        }
        .catalog-burger span::before,
        .catalog-burger span::after {
          content: '';
          display: block;
          transition: 0.2s;
        }
        .catalog-burger span::before {
          transform: translateY(-4px);
        }
        .catalog-burger span::after {
          transform: translateY(4px);
        }
      }
    }
  }
  &-categories {
    position: relative;
    a {
      text-decoration: none;
    }
    ul {
      margin: 0;
      padding: 0;
      list-style: none;
    }
    .side {
      width: 267px;
      margin: 0 0;
      position: absolute;
      z-index: 2000;
    }
    .side-hidden {
      display: none;
    }
    .menu {
      padding: 15px 17px 15px 17px;
      background-color: #ffffff;
      border: 1px solid #E9E9E9;
      box-sizing: border-box;
      box-shadow: 0px 0px 25px rgba(183, 183, 183, 0.25);
    }
    .menu a {
      background-color: #FFFFFF;
      color: #202020;
      line-height: 18px;
      padding: 13px 0 13px 15px;
      display: block;
      &:hover {
        background: linear-gradient(0deg, #7359BE, #7359BE), #2D9CDB;
        color: #ffffff;
      }
    }
  }
  &-blocks {
    background-color: #FCFCFC;
    border: 1px solid #E9E9E9;
  }
  &-block {
    padding: 17px 16px 14px 16px;
    border-bottom: 1px solid #E9E9E9;
    &-content {
      margin-top: 15px;
    }
    &-disable {
      position: relative;
    }
    &-layer {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: rgba(236, 236, 236, 0.5);
      z-index: 1000;
    }
  }
  &-price {
    background-color: #FFFFFF;
    .filter-block-content {
      &-inputs {
        padding-top: 3px;
        display: flex;
        align-items: center;
        .ranger-input {
          input {
            width: 100%;
            text-align: center;
            background-color: #FCFCFC;
            border: 1px solid #F3F2F2;
            box-sizing: border-box;
            line-height: 21px;
            color: #787878;
            padding: 5px 0;
          }
        }
        .ranger-separator {
          margin: 0 6px;
          span {
            display: block;
            width: 17px;
            height: 1px;
            background-color: #F3F2F2;
          }
        }
      }
      &-ranger {
        margin: 35px 0 20px;
      }
    }
  }
  &-tags {
    &-container {
      display: flex;
      align-items: center;
      flex-wrap: wrap;
      margin-top: -5px;
      span {
        display: block;
        cursor: pointer;
        font-size: 12px;
        line-height: 15px;
        text-align: center;
        color: #FFFFFF;
        padding: 1px 8px 3px;
        font-weight: 500;
        margin: 0 9px 11px 0;
        &.discount {
          background-color: #FFA555;
        }
        &.bestseller {
          background-color: #7359BE
        }
        &.new {
          background-color: #2D9CDB;
        }
        &.premium {
          background-color: #E787FF;
        }
        &.only {
          background-color: #7278FF;
        }
        &.active {
          background-color: #ff5555;
        }
      }
    }
  }
  &-country {
    border-bottom: none;
  }
  &-block-name {
    display: flex;
    align-items: center;
    &-caption {
      color: #131313;
      line-height: 18px;
      text-transform: uppercase;
      font-weight: bold;
      flex-grow: 1;
    }
    &-icon {
      width: 10px;
      height: 18px;
      span {
        display: block;
        width: 100%;
        height: 100%;
        cursor: pointer;
        position: relative;
        &::after {
          content: '';
          position: absolute;
          top: 5px;
          right: 0;
          width: 0;
          height: 0;
          border-style: solid;
          border-width: 6px 3px 0 3px;
          border-color: #939393 transparent transparent transparent;
        }
      }
      span.toggle-closed::after {
        border-width: 0 3px 6px 3px;
        border-color: transparent transparent #939393 transparent;
      }
    }
  }
  .checkbox {
    position: relative;
    padding-left: 28px;
    line-height: 21px;
    color: #363636;
    position: relative;
    margin-bottom: 12px;
    cursor: pointer;
    span {
      color: #979FAD;
    }
    &:before {
      content: '';
      display: block;
      position: absolute;
      top: 4px;
      left: 0;
      width: 13px;
      height: 13px;
      background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABoAAAANCAMAAACAR47fAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAGBQTFRF////6urqaGhot7e3eHh4/f394eHh+Pj4dHR0hYWF09PTtLS0x8fH3Nzc0dHR6Ojo0tLSzc3N5ubmbGxsjIyMg4ODcnJyubm5h4eIbm5u5eXly8vLwsLCd3d3+fn5zMzMH6jbywAAAFJJREFUeNpiYMQJGBgZEIARhUO6FBsbLikpURlMKVY5IC0kwSSNKSUvK8jAz8nEzI4pxSXGwSPCxIzVGXwswpLiOFwowMKN0/G8rER4GScACDAAjDACZutFTpQAAAAASUVORK5CYII=");
    }
    &.checked:before {
      background-position: 13px;
    }
  }
  .content-closed {
    display: none;
  }
  .ranger {
    display: block;
    position: relative;
    height: 5px;
    border: 1px solid #E0E0E3;
    background-color: #F3F2F2;
    .slider {
      display: block;
      position: absolute;
      z-index: 100;
      top: 0;
      left: 0;
      margin-top: -12px;
      margin-left: -13.5px;
      width: 25px;
      height: 25px;
      -webkit-border-radius: 13px;
      border-radius: 13px;
      background-color: #fff;
      border: 3px solid #7359BE;
      cursor: pointer;
    }
    .filler {
      display: block;
      position: absolute;
      z-index: 10;
      height: 5px;
      background: linear-gradient(0deg, #7359BE, #7359BE), linear-gradient(89.73deg, #865CFF 4.74%, #5D76FD 97.07%);
      border-radius: 1px;
      left: 0;
      margin-top: -1px;
    }
  }
}