.header {
  &-top {
    background-color: $mine-shaft;
    padding: 9px 0;
  }
  &-main {
    background-color: $white;
    padding: 20px 0 10px;
  }
  &-content {
    align-items: center;
    display: flex;
  }
  &-nav {
    &-right {
      margin-left: auto;
    }
    ul {
      align-items: center;
      display: flex;
      list-style: none;
      padding: 0;
      margin: 0;
      li {
        margin-right: 56px;
        &:last-child {
          margin-right: 0;
        }
        a {
          line-height: 18px;
          color: $white;
          text-decoration: none;
          font-weight: 500;
        }
      }
    }
  }
  &-burger {
    display: none;
    .menu-btn {
      display: block;
      width: 50px;
      height: 50px;
      background-color: #fff;
      border-radius: 50%;
      position: relative;
    }
    .menu-btn span,
    .menu-btn span::before,
    .menu-btn span::after {
      position: absolute;
      top: 50%; margin-top: -1px;
      left: 50%; margin-left: -10px;
      width: 20px;
      height: 2px;
      background-color: #222;
    }
    .menu-btn span::before,
    .menu-btn span::after {
      content: '';
      display: block;
      transition: 0.2s;
    }
    .menu-btn span::before {
      transform: translateY(-5px);
    }
    .menu-btn span::after {
      transform: translateY(5px);
    }
  }
  &-logo {
    &-container {
      align-items: center;
      justify-content: center;
      display: flex;
      &-icon {
        margin: 0 3px 0 -5px;
        & > img {
          height: 38px;
        }
      }
      &-name {
        & > img {
          height: 20.6px;
        }
      }
    }
  }
  &-catalog {
    height: 44px;
    background: linear-gradient(0deg, #7359BE, #7359BE), #2D9CDB;
    border-radius: 1px;
    a {
      text-decoration: none;
    }
    &-container {
      align-items: center;
      display: flex;
      height: 100%;
      &-text {
        color: $white;
        font-weight: bold;
        padding-left: 13px
      }
      &-burger {
        .catalog-burger {
          display: block;
          width: 30px;
          height: 30px;
          /*background-color: #fff;
          border-radius: 50%;*/
          position: relative;
        }
        .catalog-burger span,
        .catalog-burger span::before,
        .catalog-burger span::after {
          position: absolute;
          top: 50%; margin-top: -1px;
          left: 50%; margin-left: -10px;
          width: 20px;
          height: 2px;
          background-color: $white;
        }
        .catalog-burger span::before,
        .catalog-burger span::after {
          content: '';
          display: block;
          transition: 0.2s;
        }
        .catalog-burger span::before {
          transform: translateY(-5px);
        }
        .catalog-burger span::after {
          transform: translateY(5px);
        }
      }
    }
  }
}

